*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

html {
  //font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-family: Segoe UI, SegoeUI !important;
}

.container {
  width: 90%;
  height: calc(100vh - 7rem);
  margin: auto;
}

.homeContainer{
  margin-top: 1rem !important;
}

.buttonSize{
  padding: 5rem !important;
}

.footerCopyright {
  text-align: center;
  padding: 0px;
}

html {
  overflow-y: scroll;
}

.footer {
  height: 50px;
  position: sticky;
  bottom: 0;
  background-color: #ccc;
}
